{% extends 'base.html' %}
{% load humanize %}
{% load static %}
 <title>{% block title %} Contact Us|DNA {% endblock %}</title>
    {% block extrahead %}
         <link rel="stylesheet" href="{% static '/css/cart.css' %}">
    {% endblock extrahead %}
{% block content %}

<div class="container">
    <div class="col-12">

        <div class="row mt-5" id="pheading">
            <a href="{% url 'service'  %}" id="back"><i class="bi bi-arrow-left-short"></i></a>
            <p class="mt-2">Order Summary / <b>Checkout</b> </p>
        </div>
    </div>
</div>
<form action="." method="post">
    {% csrf_token %}
        <div class="row px-5">
            <div class="col-md-8 checkout_form">
                <div class="form-group my-3">
                    <label for="usr">NAME:</label>
                    <input type="text" name="name" class="form-control formborder" id="usr">
                </div>
          
                <div class="form-group my-3">
                    <label for="email">EMAIL:</label>
                    <input name="email" type="email" class="form-control formborder" id="email">
                </div>
            <div class="form-group my-3">
                <label for="phone">PHONE NO.:</label>
                <input name="phone_number" type="phone" class="form-control formborder" id="phone">
            </div>
            <div class="form-group my-3">
                <label for="city">CITY / PROVINCE:</label>
                <input name="city" type="text" class="form-control formborder" id="city">
            </div>
            <div class="form-group my-3">
                <label for="postal">POSTAL CODE:</label>
                <input name="postal" type="number" class="form-control formborder" id="postal">
            </div>
            <div class="form-group my-3">
                <label for="comment">NEARBY / STREET no.</label>
                <textarea name="message" class="form-control formborder" rows="2" id="comment"></textarea>
            </div>
            <div class="form-group my-3">
                <label for="comment1">FULL ADDRESS</label>
                <textarea name="message1" class="form-control formborder" rows="2" id="comment1"></textarea>
            </div>
            <button type="submit" class="btn btn1">PLACE ORDER</button>
            </div>
            <div class="col-md-4">
                <div class="summary">
                    <div class="summary-total-items"><span class="total-items"></span>Order Summary</div>
                    <div class="summary-subtotal">
                      <div class="subtotal-title">Item (2)
                      </div>
                      <div class="subtotal-value final-value" id="basket-subtotal">{{ cart.get_total_price | intcomma }}</div>
                    </div>
            
                    <div class="summary-total mt-2">
                      <div class="total-title">Total</div>
                      <div class="total-value final-value" id="basket-total"> {{ cart.get_total_price | intcomma }} </div>
                    </div>
                    <div class="summary-checkout">
                      <a class="btn checkout-cta mt-2">Continue Shopping</a>
                    </div>
                  </div>
            </div>
        </div>
       
    </form>

{% endblock content %}