{% load static %}

    <footer class="py-5" style="background-color: #444444">
        <div class="row mx-3 bot">
            <h5 id="head">DNA LAB PAKISTAN</h5>
            <div id="end" class="col-sm-4 col-md-3 my-3">
                <h5>Collection Center</h5>
                <ul class="nav nav1 flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Lahore</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Karachi</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Islamabad</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Multan</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Peshawar</a></li>
                </ul>
            </div>

            <div id="end" class="col-sm-4 col-md-3 my-3">
                <h5>About Us</h5>
                <ul class="nav nav1 flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">No. 1 DNA LAB in Pakistan</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Find How?</a></li>
                </ul>
            </div>

            <div id="end" class="col-sm-4 col-md-3  my-3">
                <h5>Contact Us</h5>
                <ul class="nav nav1 flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Phone 03074561958</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Email
                            info@dnalabpakistan.com</a></li>

                </ul>
            </div>

            <div id="end" class="col-sm-4 col-md-3 my-3">
                <form>
                    <h5>Email Us</h5>
                    <p>For any query </p>
                    <div class="d-flex w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Enter your email</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Enter your email">
                        <button class="btn-outline2" type="button">

                            <img src="{% static 'images/send.png' %}" alt="..." width="20" height="20">
                        </button>

                    </div>
                </form>
            </div>
        </div>

        <div id="end" class="d-flex justify-content-between py-4 border-top mx-3">
            <p>© 2022 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-light" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg> Twitter</a></li>
                <li class="ms-3"><a class="link-light" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg>Instagram</a></li>
                <li class="ms-3"><a class="link-light" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg>Facebook</a></li>
            </ul>
        </div>
    </footer>