{% load humanize %}
{%  load static  %}
    <nav class="navbar navbar-custom">
        <div class="container-fluid py-2">
          <div class="col-md-11 d-flex justify-content-left align-items-center">
              <span><i class="bi bi-telephone-fill"></i><tel class="mx-2">+923074561958</tel></span>
              <span><i class="bi bi-envelope-fill"><a class="mx-2" href="#">info@dnalabpakistan.com</a></i></span>
          </div>
          <div class="col d-flex justify-content-right align-items-center">
            <a href="#"><i class="bi bi-cart4">0 items</i></a>
        </div>
        </div>
    </nav>
    <ul class="nav justify-content-center sticky-top" style="background-color: #E3F7FF;">
      <a class="navbar-brand " href="https://dnalabpakistan.com/ ">
        <b>DNA LAB PAKISTAN</b>
    </a>
        <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="{% url 'home'  %}">HOME</a>
        </li>
        <div class="dropdown">
          <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            DNA TEST LIST
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Paternity Test</a></li>
            <li><a class="dropdown-item" href="#">Siblings Test</a></li>
            <li><a class="dropdown-item" href="#">Maternity Test</a></li>
          </ul>
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'reports:report'  %}">CHECK REPORTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'service'  %}">OUR SERVICES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">CONTACT US</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">ABOUT US</a>
        </li>

{#        <li><button class="btn btn-outline1 btn-sm" type="submit">Web Store</button></li>#}
        <li><a class="btn btn-outline1 btn-sm" href="https://dnalabpakistan.dukan.pk">Web Store</a></li>


    </ul>

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/dna-hero.jpg' %}" alt="dna-hero" class="d-block w-100" style="height: 400px;">
        <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 40px; text-shadow: 2px 2px 2px #3E4A5B;">Ranked as No. 1 DNA LAB in Pakistan
            </h5>
            <p style="font-size: 25px; font-weight: 600;  text-shadow: 2px 2px 2px #444444;">Lab
                products with long lasting impression</p>
       </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/dna-hero-2.jpg' %}" alt="sample-dna" class="d-block w-100" style="height: 400px;">
       <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 40px; text-shadow: 2px 2px 2px #3E4A5B;">Ranked as No. 1 DNA LAB in Pakistan
            </h5>
            <p style="font-size: 25px;  font-weight: 600;  text-shadow: 2px 2px 2px #444444;">Lab
                products with long lasting impression</p>
       </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/dna-hero-3.jpg' %}" alt="dna-data" class="d-block w-100" style="height: 400px;">
        <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 40px; text-shadow: 2px 2px 2px #3E4A5B;">Ranked as No. 1 DNA LAB in Pakistan
            </h5>
            <p style="font-size: 25px; font-weight: 600;  text-shadow: 2px 2px 2px #444444;">Lab
                products with long lasting impression</p>
       </div>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

  </a>
</div>
