{% extends 'base.html' %}
{% load static %}
 <title>{% block title %} Contact Us|DNA {% endblock %}</title>
    {% block extrahead %}
         <link rel="stylesheet" href="{% static '/css/contactus.css' %}">
    {% endblock extrahead %}
{% block content %}

<div class="d-flex justify-content-center py-3 mt-3">
    <h4 id="bold">
        WE ARE HERE TO SERVE YOU
    </h4>

</div>
<form action="." method="post">
{% csrf_token %}
    <div class="row px-5">
        <div class="col-md-8">
            <div class="form-group my-3">
                <label for="usr">NAME:</label>
                <input type="text" name="name" class="form-control formborder" id="usr">
            </div>
      
            <div class="form-group my-3">
                <label for="email">EMAIL:</label>
                <input name="email" type="email" class="form-control formborder" id="email">
            </div>
        <div class="form-group my-3">
            <label for="phone">PHONE NO.:</label>
            <input name="phone_number" type="phone" class="form-control formborder" id="phone">
        </div>
        <div class="form-group my-3">
            <label for="comment">HOW WE CAN HELP YOU?</label>
            <textarea name="message" class="form-control formborder" rows="5" id="comment"></textarea>
        </div>
        <button type="submit" class="btn btn1">SEND</button>
        </div>
        <div class="col-md-4 mt-5">
            <img class="img-fluid" src="{% static 'images/contact.png' %}" alt="">
        </div>
    </div>
   
</form>
    <h4 class="text-center mt-5 mb-3">
        You can Directly Contact us on WhatsApp
    </h4>

<div class="d-flex justify-content-center py-3">
    <button type="button" class="btn btn-lg btn-block btn2">
        <div class="row">
            <div class="col mt-2">
                <h4>+923074561958</h4>
            </div>
            <div class="col">
                <img src="{% static 'images/whatsapp.png' %}" alt="" srcset="">
            </div>
        </div>
    </button>
</div>

<div class="col px-5 mt-5">
    <h3>DNA LAB PAKISTAN</h3>
</div>
<div class="row px-5 mb-5">
    <i class="bi bi-hospital"> 572,Block #3 Sector C-1, Near Umer Chowk
        Masjid Stop, Township Lahore</i>
    <i class="bi bi-telephone-fill"> 03074561958</i>
    <i class="bi bi-envelope-fill"> info@dnalabpakistan.com</i>
    
</div>
<!-- <img class="img-fluid py-5" src="{% static 'images/Rectangle.png' %}" alt="" height="100"> -->

{% endblock content %}