{% extends 'base.html' %}
{% load static %}
 <title>{% block title %} Services|DNA {% endblock %}</title>
    {% block extrahead %}
         <link rel="stylesheet" href="{% static '/css/service.css' %}">
    {% endblock extrahead %}
{% block content %}
<div class="container-fluid service">
    <h1 class="text-center mt-5 mb-5">Our Services</h1>
    <div class="row justify-content-center">

        <div class="col-4">
            <h4 class="text-center mb-3 text-muted">Paternity testing</h4>
            <div class="container-fluid img-container">
                <img class="lef img-fluid" src="{% static  'images/s2.jpg' %}" alt="" style=" height:300px;  "> <br>
            </div><br>
            <a href="{% url 'home' %}" class="btn btn-outline btn-sm learn center">Learn More</a>
        </div>
        <div class="col-4">
            <h4 class="text-center mb-3 text-muted">Legal DNA testing</h4>
            <div class="container-fluid img-container">
                <img class="lef img-fluid" src="{% static  'images/s3.jpg' %}" alt="" style=" height:300px;  "> <br>
            </div><br>
               <a href="{% url 'home' %}" class="btn btn-outline btn-sm learn center">Learn More</a>
        </div>
        <div class="col-4">
            <h4 class="text-text-center mb-3 text-muted" style="text-align: center;">Immigration DNA test</h4>
            <div class="container-fluid img-container">
                <img class="lef img-fluid" src="{% static  'images/s4.jpg' %}" alt="" style=" height:300px;  "> <br>
            </div>
            <br>
              <a href="{% url 'home' %}" class="btn btn-outline btn-sm learn center">Learn More</a>
        </div>
    </div>
      <br>
     <br>
        <div class="row justify-content-center">

        <div class="col-4">
            <h4 class="text-center mb-3 text-muted">Prenatal testing</h4>
            <div class="container-fluid img-container">
                <img class="lef img-fluid" src="{% static  'images/s5.jpg' %}" alt="" style="width:350px; height:300px;  "> <br>
            </div> <br>
              <a href="{% url 'home' %}" class="btn btn-outline btn-sm learn center">Learn More</a>

        </div>
        <div class="col-4">
            <h4 class="text-center mb-3 text-muted"> Sibling testing</h4>
            <div class="container-fluid img-container">
                <img class="lef img-fluid" src="{% static  'images/s6.jpg' %}" alt="" style="width:350px; height:300px;  "> <br>
            </div> <br>
              <a href="{% url 'home' %}" class="btn btn-outline btn-sm learn center">Learn More</a>

        </div>
        <div class="col-4">
            <h4 class="text-center mb-3 text-muted">Maternity testing</h4>
            <div class="container-fluid img-container">
                <img class="lef img-fluid" src="{% static  'images/s1.jpg' %}" alt="" style="width:350px; height:300px;  "> <br>
            </div>
            <br>
              <a href="{% url 'home' %}" class="btn btn-outline btn-sm learn center">Learn More</a>

        </div>
        </div>
    </div>


<div class="container-fluid text-center expert">
    <h3>The Expert Authority You Can Trust</h3>
</div>

<div class="container mt-5 top">
    <h5 style="color: #025468;">Why choose DNA LAB PAKISTAN for your DNA test?</h5>
    <div class="row mt-3">
        <div class="col">
            <p>Providing fast, satisfactory and accurate DNA test services at
                most affordable prices in Pakistan.</p>


            <ul style="color: #838383;">
                <li>Testing kits can be delivered to anywhere in UK, USA, Germany,
                    Spain, Australia, Canada and Worldwide</li>
                <li>We offer a fast turn around time and affordable testing for our
            clients.</li>
                <li>Our laboratory scientists handle your case and communicate with
            you throughout the entire process.</li>
                <li>Our client’s personal data and samples are handled with the
            utmost confidentiality and security throughout the entire process.</li>
                <li>We have a broad portfolio of tests including DNA paternity
            testing, maternity testing, sibling testing,dead body</li>
                <li>If you are looking for a trusted and Certified DNA Laboratory
            that offers reliable DNA Testing Services.</li>
            </ul>
        </div>
        <div class="col">
            <ul style="color: #838383;">
                <li>We are the   first   testing company to open a   Walk in Centre . We
            now have over 500 of these dedicated testing facilities across the
            Pakistan, UK, Italy, U.S.A, Ireland, Spain, Afghanistan, UAE, Saudi
            Arabia, Kuwait etc etc</li>
                <li>We were the first to establish a network of trained  sample
            collectors  available to collect samples nationwide and Worldwide</li>
                <li>100% accurate cheek cell testing service</li>
                <li>Our test uses up to 42 markers</li>
            </ul>
        </div>
    </div>
    <p style="color: #838383;">Choose to receive accurate and confidential results from one of the best DNA testing
        services.</p>
    <p style="color: #838383;"></p>
    <br>
    <hr class="style5">
    <h5 style="color: #025468;">Accredited DNA testing</h5>
    <p style="color: #838383;">AlphaBiolabs has been accredited by the Ministry of Justice to carry out parentage tests
        directed by the civil courts in England and Wales under section 20 of the Family Law Reform Act 1969. We are a
        UKAS-accredited testing laboratory (No. 2773), to the quality technical standard of ISO 17025, and are certified
        to ISO 9001.</p>
    <p style="color: #838383;">AlphaBiolabs employs some of Europe’s leading DNA and toxicology scientists to ensure the
        highest level of technical ability and standards. This ensures that your DNA or toxicology reports are of the
        highest standards.</p>
    <br>
</div>

<div class="jumbotron last">
    <div class="container center mt-5 lef">
        <h4 style="font-weight: 600;">Don't See a Test?</h4>
        <p style="font-weight: 600;">If you do not see the test you require here please call 03074561958 and we will try our best to help</p>
        <button class="btn btn-outline btn-sm learn center mt-5" type="submit">Get In Touch</button>
    </div>
</div>
<h2 class="text-center mb-5 mt-5 bot" style="font-size: 30px; color: rgb(54, 53, 53); font-weight: 600;">WORLDWIDE ACCREDITED DNA LAB
</h2>
<p id="para" class="mx-5 bot">DNA Labs Pakistan delivers High Quality DNA Testing Services tailored to your needs. We
    are
    specialized testing provider for Paternity DNA Testing in Pakistan. We compare and select the most appropriate
    DNA test with highest success rate at affordable cost at nearby your location.</p>

<img src="{% static  'images/8.png'%}" alt="" class="img-fluid center py-5 bot" width="1000">

{% endblock content %}