{% extends 'base.html' %}
{% load static %}
 <title>{% block title %} Store | DNA {% endblock %}</title>

{% block content %}
<div class="container-fluid webHome">
    <h1 class="text-center mt-5 mb-5">Choose your Test</h1>
    <div class="row justify-content-center">

        <div class="col-4">
            <h4 class="text-center mb-3 text-muted">Paternity testing</h4>
            <div class="container-fluid img-container">
                <img class="lef img-fluid" src="{% static  'images/s2.jpg' %}" alt="" style=" height:300px;  "> <br>
            </div><br>
            <button onclick="window.location.href='https://dnalabpakistan.dukan.pk';" class="btn btn-outline btn-sm learn center mt-5" type="submit">Learn More</button>
        </div>
        <div class="col-4">
            <h4 class="text-center mb-3 text-muted">Legal DNA testing</h4>
            <div class="container-fluid img-container">
                <img class="lef img-fluid" src="{% static  'images/s3.jpg' %}" alt="" style=" height:300px;  "> <br>
            </div><br>
            <button onclick="window.location.href='https://dnalabpakistan.dukan.pk';" class="btn btn-outline btn-sm learn center mt-5" type="submit">Learn More</button>
        </div>
        <div class="col-4">
            <h4 class="text-text-center mb-3 text-muted" style="text-align: center;">Immigration DNA test</h4>
            <div class="container-fluid img-container">
                <img class="lef img-fluid" src="{% static  'images/s4.jpg' %}" alt="" style=" height:300px;  "> <br>
            </div>
            <br>
            <button onclick="window.location.href='https://dnalabpakistan.dukan.pk';" class="btn btn-outline btn-sm learn center mt-5" type="submit">Learn More</button>
        </div>
    </div>
      <br>
     <br>
        <div class="row justify-content-center">

        <div class="col-4">
            <h4 class="text-center mb-3 text-muted">Prenatal testing</h4>
            <div class="container-fluid img-container">
                <img class="lef img-fluid" src="{% static  'images/s5.jpg' %}" alt="" style="width:350px; height:300px;  "> <br>
            </div> <br>
            <button onclick="window.location.href='https://dnalabpakistan.dukan.pk';" class="btn btn-outline btn-sm learn center mt-5" type="submit">Learn More</button>
        </div>
        <div class="col-4">
            <h4 class="text-center mb-3 text-muted"> Sibling testing</h4>
            <div class="container-fluid img-container">
                <img class="lef img-fluid" src="{% static  'images/s6.jpg' %}" alt="" style="width:350px; height:300px;  "> <br>
            </div> <br>
            <button onclick="window.location.href='https://dnalabpakistan.dukan.pk';" class="btn btn-outline btn-sm learn center mt-5" type="submit">Learn More</button>
        </div>
        <div class="col-4">
            <h4 class="text-center mb-3 text-muted">Maternity testing</h4>
            <div class="container-fluid img-container">
                <img class="lef img-fluid" src="{% static  'images/s1.jpg' %}" alt="" style="width:350px; height:300px;  "> <br>
            </div>
            <br>
            <button onclick="window.location.href='https://dnalabpakistan.dukan.pk';" class="btn btn-outline btn-sm learn center mt-5" type="submit">Learn More</button>
        </div>
        </div>
    </div>



{% endblock content %}